@keyframes slideDown {
  from{
      transform:translateY(-800px);
  }
  to{
      transform: translateY(0px);
  }
}

.slideDown{
  animation: slideDown 1s ease-in;
}

@keyframes slideRight {
  from{
    transform: translateX(-800px);
  }
  to{
    transform: translateX(0px);
  }

}
.slideRight{
  animation: slideRight 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in; 
  opacity: 1;
}
@keyframes slideUp {
  from{
      transform:translateY(800px);
  }
  to{
      transform: translateY(0px);
  }
}

.slideUp{
  animation: slideUp 1s ease-in;
}