body
{
background-color: rgb(69, 197, 236);
}
#input{
    border-radius: 30px;
    border: transparent;
}
nav{
    text-align:right;

}
.container{
    height: 200px;
}
#upcommingWeatherDiv{
font-size: 10px;
height: 250px;
width: 50%;
margin-left: 100px;
}
#upcomming{
     background-color: rgb(68, 57, 57);
     border-radius: 20px;
     font-family: Arial, Helvetica, sans-serif;
     height: 300px;
}
#upcommingBody td{
    height: 15px;
    padding-right: 10px;
}
#upcommingBody td {
    border-bottom: white solid 0.5px;
}
#input
{
width: 700px;
}
.container
{
display: flex;
}
.box
{
color: white;
flex: 2;
}
#currentWeatherDiv
{
display:flex
}
#name
{
font-family:Arial, Helvetica, sans-serif;
font-weight:600;
font-size: 30px;
position: fixed;
}
#degrees
{
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
margin-top: 120px;
}
#degrees::after
{
content: "\00B0";
}
#icon
{
opacity: 0; 
transition: opacity 1s ease-in; 
margin-left: 200px;
margin-bottom: 20px;
width: 200px
}
#hourly{
    border-color: transparent;
    border-radius: 20px;
    background-color: rgb(68, 57, 57);
    display: none;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 700px;
}
#hourly th{
    border-right: solid;
    
}
#hourly th:last-child{
    border-right: none;
}
#tbody{
    display: flexbox;
    flex:auto;
}
#hourly td::after
{
content: "\00B0";
}
#hourly td{
    padding-left: 24px;
}