body
{
background-color: rgb(69, 197, 236);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(68, 57, 57);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
  }
#input{
    border-radius: 30px;
    border: transparent;
    width: 650px;
    padding: 5px;
    transition: width 1s ease-in-out
}
#input:hover{
    cursor: pointer;
    width: 670px;
}


nav ul {
  background-color: rgb(68, 57, 57);
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  nav li {
    font-size: 20px;
    display: inline;
    margin-right: 25px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    
 }
  
  nav a:hover {
    text-decoration: underline;
  }
.container{
    height: 200px;
}
#upcommingWeatherDiv{
font-size: 10px;
height: 250px;
width: 50%;
margin-left: 100px;
}
#upcomming{
    margin-top: 20px;
     background-color: rgb(68, 57, 57);
     border-radius: 20px;
     font-family: Arial, Helvetica, sans-serif;
     height: 300px;
}
#upcommingBody td{
    height: 15px;
    padding-right: 10px;
}
#upcommingBody td {
    border-bottom: white solid 0.5px;
}
.container
{
display: flex;
}
.box
{
color: white;
flex: 2;
}
#currentWeatherDiv
{
display:flex
}
#name
{
font-family:Arial, Helvetica, sans-serif;
font-weight:600;
font-size: 30px;
position: fixed;
}
#degrees
{
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
margin-top: 120px;
}
#degrees::after
{
content: "\00B0";
}
#icon
{
opacity: 0; 
transition: opacity 1s ease-in; 
margin-left: 200px;
margin-bottom: 20px;
width: 200px
}
#hourly{
    border-color: transparent;
    border-radius: 20px;
    background-color: rgb(68, 57, 57);
    display: none;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 700px;
}
#hourly th{
    border-right: solid;
    
}
#hourly th:last-child{
    border-right: none;
}
#tbody{
    display: flexbox;
    flex:auto;
}
#hourly td::after
{
content: "\00B0";
}
#hourly td{
    padding-left: 24px;
}
#conditionsTable {
    color: white;
    background-color:rgb(68, 57, 57);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-collapse: collapse;
    width: 700px;
  }
  
  #conditionsTable th, #conditionsTable td {
    padding: 8px;;
  }
  
  #conditionsTable td{
    padding-left: 150px;
  }
  
  #conditionsTable tbody tr:first-child th:first-child,
  #conditionsTable tbody tr:first-child th:last-child {
    text-align: center;
    padding-right: 10px;
  }
  
  #conditionsTable tbody tr:first-child th:first-child,
  #conditionsTable tbody tr:first-child th:last-child {
    width: 50%;
    
  }
  



nav a {
    display: table-cell;
    padding: 10px 10px;
}


.citiesNames {
    display: none;
    position: absolute;
    background-color: rgb(68, 57, 57);
    border-radius: 30px;
    
}

.cities:hover .citiesNames {
    display: block;
}


.citiesNames li {
    padding: 10px;
    text-decoration: none;
}